## Day Objectives
Practice on Income Dataset

Define functions for the following data points
- Average Income of all states from 2005 to 2013
- State with highest average income in the last three years
- State with lowest average income from 2007 to 2010(inclusive)
- Print the list of all states in the same line with average income less than California
- Print the names of states based on descending order of income in the year 2009
- State with the lowest recorded income from 2005 to 2013

In [84]:
filepath = 'DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [85]:
incomedf = readCSVdata(filepath)
def printDataFrameColumns(df):
    columns = df.columns
    for col in columns:
        print(col,end = ' ')
    return
printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [86]:
def getRowIndex(df, rowkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex

def getColumnIndex(df, columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex

def valueFromRowColumn(df, rowkey, columnkey):
    rowindex = getRowIndex(df, rowkey)
    columnindex = getColumnIndex(df, columnkey)
    print(rowindex)
    print(columnindex)
    return df.values[rowindex][columnindex]

valueFromRowColumn(incomedf, 'Alabama', '2005')

0
2

37150

### Average Income of all states from 2005 to 2013

In [88]:
def getRowIndex(df, rowkey):
    rowindex = 0
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex
def getColumnIndex(df, columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex
def accessDataFrameRow(df,rowkey,columnkey):
    sum1 = 0
    rowindex = getRowIndex(df, rowkey)
    columnindex = getColumnIndex(df, columnkey)
    c = 0
    for i in range(rowindex,len(df.values)):
        for j in range(columnindex,len(df.columns)):
            sum1 += int(df.values[i][j])
            c += 1 
    return sum1//c
accessDataFrameRow(incomedf, 'Alabama', '2005')

48525

### State with highest average income in the last three years

In [89]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [81]:
def last3yearsindexs(df):
    years = []
    for i in df.columns:
        years.append(i)
    return years[-3:]
   
def highestAverageIncomeLast3years(df):
    last3years = last3yearsindexs(df)
    rindexlist = []
    cindexlist = []
    sum1 = 0
    c = 0
    sum = 0
    #print(last3years)
    for row in df.values:
        sum += row[-2]
    #print(sum/len(incomedf.values))
    #print(sum)
    for i in last3years:
        #print(i)
        ri = getRowIndex(df, i)
        rindexlist.append(ri)
        ci = getColumnIndex(df, i)
        #print(ci)
        
    print(rindexlist)
    for k in range(len(df.values)):
        print(df.values[ri][ci:])
            
        
        
        
       
            #print(c)
                
        
highestAverageIncomeLast3years(incomedf)

[0, 0, 0]
[41381]
[41381]
[41381]
[41381]
[41381]

In [ ]:
 for k in range(ci,len(df.columns)):
            print('k',k)
            for j in range(ri,len(df.values)):
                print(df.values[j][k])
                sum1 += int(df.values[j][k])
                c += 1

In [83]:
def californiaSumFrameRow(df, r, c):
    rowindex = getRowIndex(df, r)
    colindex = getColumnIndex(df, c)
    print(rowindex)
    print(colindex)
    sum1 = 0
    c = 0
    for j in range(rowindex,len(df.values)):
        for k in range(colindex,len(df.columns)):
            #print(df.values[j][k])
            sum1 += int(df.values[j][k])
            c += 1
        calavg = sum1//c
    print('cal avg',calavg)
    count = 0
    avg = []
    for k in range(0,len(df.values)):
        for j in range(2,len(df.columns)):
            sum1 += int(df.values[k][j])
            count += 1
        newavg = sum1//count
        if newavg not in avg: 
            avg.append(newavg)
    print(avg)
    d = {}
    for i in range(0, len(df.columns)):
        for j range(2, len(df.columns)):
            d[li[]]
            
    
    
californiaSumFrameRow(incomedf, 'California', '2005')

4
2
cal avg 55350
[96476, 78291, 68517, 61095, 59946]