## Data Analysis using simple income of different states

In [2]:
# Reading CSV file data
import pandas as pd
incomedf = pd.read_csv('Datafiles/income.csv')
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [3]:
#Extract the last index
# California:57528
for row in incomedf.values:
    print(row[1],':',row[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [6]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [5]:
#average income of Arizona
sum = 0
for row in range(2,11):
    sum += incomedf.values[2][row]
print(sum/len(incomedf.values[2][2:]))

47214.77777777778

In [8]:
sum = 0
for row in incom:
    sum += incomedf.values[2][row]
print(sum/len(incomedf.values[3][0:]))

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [ ]:
#average income of all states in year 2012