### Function to print all numbers divisible by 6 and not a factor of  100 in a given range(lb,ub) inclusive
- for
- while

[101,210]
for i in range(101,210+1)         here lb-starting number(inclusive) up-ending number +1(Exclusive) for range

o/p:
101
102
.
.
.
210

In [50]:
def divisibleby6(lnumber,unumber):
    for i in range(lnumber,unumber):
        if i%6==0 and i%100!=0:
            print(i,end=' ')
    return
divisibleby6(90,700)

90 96 102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198 204 210 216 222 228 234 240 246 252 258 264 270 276 282 288 294 306 312 318 324 330 336 342 348 354 360 366 372 378 384 390 396 402 408 414 420 426 432 438 444 450 456 462 468 474 480 486 492 498 504 510 516 522 528 534 540 546 552 558 564 570 576 582 588 594 606 612 618 624 630 636 642 648 654 660 666 672 678 684 690 696

# Function to find the average of cubes of all even numbers in a given range(lb,ub) inclusive

In [54]:
def avgCubesallEvenNo(lb,ub):
    cube=0
    sum=0
    count=0
    for i in range(lb,ub+1):
        if i%2==0:
            cube=i**3
            sum=sum+cube
            count=count+1
    return sum/count
avgCubesallEvenNo(1,3)

8.0

# Function to generate the list of factors for a given number
- i/p:factores(12)
- o/p:1 2 3 4 6 12

In [59]:
def factores(num):
    for i in range(1,num+1):
        if num%i==0:
            print(i,end=' ')
    return 
factores(12)

1 2 3 4 6 12

# Function to calculate factorial of a given number
- i/p:factorial(5)
- o/p:120

In [75]:
def factorial(num):
    fact=1
    sum=0
    for i in range(1,num+1):
        fact=fact*i
        print(fact,end=" ")
    sum=sum+fact
    print(sum)
factorial(5)

1 2 6 24 120 120

In [78]:
def fact(n):
    if n==1:
        return n
    else:
        return n*fact(n-1)
fact(3)

6

# Function to check if a given number is prime
- i/p:isprime(n)
- o/p:True/False

In [27]:
def isPrime1(num):
    flag=True
    for i in range(2,num//2+1):
        if num%i==0:
            flag=False
        return flag
    return flag
isPrime(16)

False

In [124]:
def isPrime2(num):
    if num==2 or num%2!=0 and num%num==0 and num%1==0 and num%3!=0:
        return True
    else:
        return False
isPrime(9)

False

# Function to calculate the average first N prime numbers
- avgFirstNPrime(10)
- 12.9

In [53]:
def avgFirstNPrime(num):
    count=0
    for i in range(1,10000):
        if isPrime1(i):
            print(i,end=' ')
            count=count+1
            if count==num:
                return
avgFirstNPrime(100)

1 2 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197

# Function to generate all perfect numbers in a given range

In [ ]:
def perfectnumber(lb,ub):
    sum=0
    for i in range(lb,ub+1):
        if i%2==0:
            print(i)
            sum=sum+i
        if sum==

# function to print the alternate values in a range in the same line
### in mathemetical [500,550] meanes inclusive i.e 500,502,504.....550. that is start to end
### in mathemetical (500,550) meanes exclusive i.e 501,503,505.....549. that is start+1 to end-1
### when you give range(500,550)means 500,501,502......549
#i/p:[500,550] (inclusive set)
#o/p:[500,502,504,506......5]

In [25]:
def altenateValues(start,end):
    for i in range(start,end+1,2):#start:inclusive end:exlusive so we take end+1,and third parameter how much to increment bydefault it is 1
        print(i,end=' ')
    return
altenateValues(500,550)

500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550

### Function to print reverse of given range in the same line

In [7]:
def reverseRange(start,end):
    for i in range(end,start-1,-1):#becase start-1 is inclusive
        print(i,end=' ')
    return
reverseRange(500,550)

550 549 548 547 546 545 544 543 542 541 540 539 538 537 536 535 534 533 532 531 530 529 528 527 526 525 524 523 522 521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501 500

# Function to print odd numbers to the reverse order in a range

In [19]:
def oddReverseRange(start,end):
    for i  in range(end,start-1,-1):
        if  i%2!=0:
            print(i,end=" ")
    return
oddReverseRange(1,100)

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [17]:
def oddReverseRange(start,end):
    for i  in range(end-1,start-1,-2):
        print(i,end=" ")
    return
oddReverseRange(0,100)

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

# function to calculate the sum of numbers in a range

In [24]:
def sumofnumbersRange(start,end):
    sum=0;
    for i in range(start,end+1):
        sum=sum+i
    return sum
sumofnumbersRange(100,200)

15150

### function to calculate the average of a given range
- (1,5)->3

In [1]:
def sumofnumbersRange(start,end):
    sum=0;
    count=0
    avg=0
    for i in range(start,end+1):
        sum=sum+i
        #count=count+1
    #avg=sum/count
    return sum/(end-start+1)
sumofnumbersRange(1,5)

3.0

# Function to generate all leap years in a given time period
- i/p:(2002,2020)
- o/p:2000 2004 2008 2012 2016 2020

In [5]:
#Function to generate all leap years in a given time period
#i/p:(2002,2020)
#o/p:2000 2004 2008 2012 2016 2020
def isLeapYear(year):
    if (year % 400 == 0) or (year % 4 == 0) and (year % 100 != 0):
        return True
    return False
def generateLeapYears(startyear,endyear):
    for i in range(startyear,endyear+1):
        if isLeapYear(i):
            print(i,end=' ')
    return

generateLeapYears(2000,2020)

2000 2004 2008 2012 2016 2020

In [11]:
#calculate number of days in a given time period using leapyear logic

def generatenoofDays(startyear,endyear):
    leapyearcount=0
    sum=0
    for i in range(startyear,endyear+1):
        if isLeapYear(i):
            sum=sum+366
        else:
            sum=sum+365
    return sum
generatenoofDays(2018,2018)

365

In [14]:
#Function to calculate number of hours for a given time period using leapyear logic
#11,1975,03,1999(start_mnt,start_year,end_mnt,end_year)
#numberofHours(11,1975,3,1999)->204504 or 205248
#numberofHours(5,2019,6,2019)->1464
#1 leap year hours->8784
#1 nonleap year hours->8760

#2,2017,6,2019
#step1: [all days from feb 2016 to dec 2016,
#step2:all days for years between start(2016+1) and end(2019-1),
#step3:all days from Jan to june 2019]
#no of hours=24*No of days
#3 steps
    #1.start month year to end of year - calculate no of 
    #2.Calculate days for all years between start year
       #2017,2018 -365 * no of years
    #3.calculate days from Jan to end month year
    
#Exluding Feb
#First Six months ->1,3,4,5,6,7
                           #all odd numbers have 31 days
                           #All even months have 30 days
#second Six months ->8,9,10,11,12
                           #all odd numbers have 31 days
                           #All even months have 30 days
#31days->(month <= 7 and month %2! =0 and month != 2)//(month !== 2)
#      return 31
#  else
#      return 30




def numberdaysMonth(month,year):
    if month == 2:
        if isLeapYear(year):
            return 29
        return 28
    elif (month <= 7 and month % 2!=0) or (month >= 8 and month % 2==0):
        return 31
    else:
        return 30
numberdaysMonth(9,2023)
def daysInstartYear(startmonth,startyear):
    days=0
    for month in range(startmonth,13):
        days+=numberdaysMonth(month,startyear)
    return days
def daysInEndYear(endmonth,endyear):
    days=0
    for month in range(1,endmonth+1):
        days+=numberdaysMonth(month,endyear)
    return days    
def numberOfHours(startmonth,startyear,endmonth,endyear):
    days=0
    days+=daysInstartYear(startmonth,startyear)
    days+=daysInEndYear(endmonth,endyear)
    if endyear-startyear==2:
        days+=generatenoofDays(startyear+1,startyear+1)
    elif endyear-startyear>2:
        days+=generatenoofDays(startyear+1,endyear-1)
    return days
numberOfHours(11,1999,12,1999)

426

In [21]:
def isPrime(num):
    if num==2 or num==3  or num%2!=0 and num%num==0 and num%1==0 and num%3!=0 and num:
        return True
    else:
        return False
isPrime(2)

True

In [38]:

def firstNPrimes(n):
    count=0
    num=int(input("Enter the Range of prime Numbers"))
    for i in range(2,n+1):
        if isPrime1(i)==True:
            count=count+1
            print(i,end=" ")
    if count==20:
        return
firstNPrimes(100)

Enter the Range of prime Numbers20
2 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [1]:
s="1 2 3 4 5 6"
li = s.split()
numberlist = []
for i in li:
    numberlist.append(int(i))
numberlist

[1, 2, 3, 4, 5, 6]

In [3]:
s1="1 2 3 4 5 6"
li=s.split()
for i in li:
    print(i,end=" ")

1 2 3 4 5 6

In [8]:
n=int(input())
def sumSqaresNaturalNumbers(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i**2
    return sum
sumSqaresNaturalNumbers(n)

3

14