### Play with numbers

In [10]:
n = input().split()
n[0],n[1] = int(n[0]),int(n[1])

a = input().split()
sum = []
for i in range(0, n[0]):
    if i == 0:
        sum.append(int(a[i]))
    else:
        sum.append(int(sum[i-1]) +int(a[i]))
del a       

for k in range(0,n[1]):
    inq = input().split()
    i = int(inq[0])
    j = int(inq[1])
    if i> 1:
        print((sum[j-1] - sum[i-2]) // (j-i+1))
    else:
        print(sum[j-1]// (j-i+1))

5 3
1 2 3 4 5
1 3
2
2 4
3
2 5
3

# **Tuples**
- t1 = ()
- li = []
- differences between Lists and Tules
- lists are mutable - can be changed modified
 * **Lists**
    - access,modify,add,delete data
 * **Tuples**
    - access data only

In [19]:
t1 = (1,2,6,7,8,0)

t1[3]  # Accessing the fourth element

7

In [20]:
t1[len(t1)//2:]#Accessing all elements from middle to last

(7, 8, 0)

In [21]:
type(t1)

tuple

# Dictionaries
- it works on the concept of set 
- Unique data
- there is no indexes
- insted of index using key 

- **two major values:**
  * Keys,Values

- **key**
   - key is the unique identifier for a value
- **Value**
   - value is data that can be accessed with a key

- **How to define an dictionaries**
- d1={"key1":"Value1","key2":"Value2",.........."key3":"Value4"}

In [31]:
d1 = {"k1":"Value1","k2":"Value2"}

d1["k2"]                                #Accessing the value with key "k2"

'Value2'

In [28]:
d1.keys()                                #returns list of all keys

dict_keys(['key1', 'key2'])

In [29]:
d1.values()                              # returns list of all values

dict_values(['Value1', 'Value2'])

In [30]:
d1.items()                               # returns list of tuples of keys and values

dict_items([('key1', 'Value1'), ('key2', 'Value2')])

In [32]:
d1["k3"]="value3"                       # add elements to the dictionary like lists

In [33]:
d1

{'k1': 'Value1', 'k2': 'Value2', 'k3': 'value3'}

In [ ]:
d1["k3"]="value4"                       # updating an elements to the dictionary like lists here value is changing but not key

In [34]:
d1.pop("k3")                            # delet/removing an elements from the dictionary

'value3'

In [35]:
d1

{'k1': 'Value1', 'k2': 'Value2'}